@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
:root{
    --green:#0d9979;
    --white: #fff;
}


*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .5s cubic-bezier(.37,1.14,.26,1.24);
}

html{
    font-size: 70%;
    overflow-x: hidden;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#fff;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    padding: 1rem 5rem;
    width: 100%;
}
*::selection{
    background:var(--green);
    color:#fff;
}


.btn{
    height:3.5rem;
    width:15rem;
    background:none;
    outline:none;
    border:.2rem solid var(--green);
    color:var(--green);
    font-size: 2rem;
    margin:1rem 0;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    position: relative;
}

.btn::before, .btn::after{
    position: absolute;
    content: '';
    top:0; left:0;
    height:100%;
    width: 100%;
    background:var(--green);
    z-index: -1;
    transition: all 0.5s cubic-bezier(.37,1.14,.26,1.24);
}

.btn::before{
    clip-path: polygon(0 0, 0 0, 0 0);
}

.btn:hover:before{
    clip-path: polygon(0 0, 0 100%, 100% 0);
}

.btn::after{
    clip-path: polygon(100% 100%, 100% 100%, 100% 100%);
}

.btn:hover:after{
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

.btn:hover{
    color:#fff;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#555;
    padding:1rem;
    padding-top: 7rem;
}

.heading i{
    color:var(--green);
    font-size: 2rem;
}




.homelogo{
    color:var(--green);
    font-size: 3rem;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li{
    margin:0 1rem;
}

header .navbar ul li a{
    font-size: 2rem;
    color:#666;
}

header .navbar ul li a:hover{
    color:var(--green);
}

header .fa-bars{
    font-size: 3rem;
    color:#666;
    cursor: pointer;
    display: none;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    text-align: center;
    padding:1rem;
}

.home .content h1{
    font-size: 7rem;
    color:var(--white);
}

.home .content p{
    font-size: 1.9rem;
    color:#333;
    padding:1rem 0;
    width: 70rem;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 40rem;
    padding:2rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex:1 1 40rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:var(--green);
}

.about .row .content p{
    font-size: 1.5rem;
    color:#666;
    padding:1rem 0;
}

.about .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .box-container .box{
    padding:2rem 1rem;
    text-align: center;
    border:.2rem solid var(--green);
    flex:1 1 20rem;
    margin:2rem;
}

.about .box-container .box i{
    color:var(--green);
    font-size: 4rem;
}

.about .box-container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding:1rem 0;
}

.about .box-container .box p{
    color:#666;
    font-size: 1.7rem;
}
.icons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -10rem;
}

.icons-container .icons{
    width:30rem;
    margin:1rem;
    padding:2rem 1rem;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.1);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    text-align: center;
    background:#fff;
}

.icons-container .icons:hover{
    transform:translateY(-1rem);
}

.icons-container .icons img{
    height:6rem;
    width:6rem;
    margin:1rem 0;
}

.icons-container .icons h3{
    font-size: 2.5rem;
    color:var(--green);
}

.icons-container .icons p{
    font-size: 1.3rem;
    color:#999;
    padding:1rem 0;
}



.headline{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    text-align: center;
    color: #fff;

}
.table-box
{
    margin: 50px auto;
}

.table-row{
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: sans-serif;
    background: transparent;
    padding: 12px 0;
    color: #555;
    font-size: 13px;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
}
.table-head{
    background: #8665f7;
    box-shadow: none;
    color: #fff;
    font-weight: 600;
}
.table-head .table-cell{
    border-right: none;
}
.table-cell{
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
}
.first-cell{
    text-align: left;
    padding-left: 10px;
}
.last-cell{
    border-right: none;
}
a{
    text-decoration: none;
    color: #555;
}

@media only screen and (max-width: 600px) {
  .table-row {
    font-size: 11px;
  }
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey;
}
.card-footer{
    background-color: #fff;
    border-top: none;
}
.project{
    background:#333;
    min-height: 100vh;
}

.project .heading{
    color:#fff;
}

.project .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    width: 90%;
    margin:0 auto;
}

.project .box-container .box{
    flex: 1 1 30rem;
    height: 22rem;
    box-shadow: 0 .3rem .5rem #000;
    overflow: hidden;
    position: relative;
    margin:1rem;
}

.project .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.project .box-container .box .icons{
    height:100%;
    width:100%;
    position: absolute;
    top:100%; left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    background:linear-gradient(transparent, rgba(0,0,0,.7));
    transform: scale(0);
}

.project .box-container .box:hover .icons{
    top:0;
    transform: scale(1);
}

.project .box-container .box .icons a{
    font-size: 3rem;
    color:#fff;
    margin:3rem 0;
    text-shadow: 0 .3rem .5rem #000;
    transform: translateY(13rem);
    transition-delay: calc(.2s * var(--i));
}

.project .box-container .box:hover .icons a{
    transform: translateY(0rem);
}
.events{
    background:#F6FCFF;
}

.events .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.events .box-container .box{
    width:35rem;
    margin:1.5rem;
    border-radius: .5rem;
    box-shadow:  0 .5rem 1rem rgba(0,0,0,.1);
    overflow: hidden;
    background:#fff;
}

.events .box-container .box img{
    height: 20rem;
    width:100%;
    object-fit: cover;
}

.events .box-container .box .content{
    padding:1.5rem;
}

.events .box-container .box .content h3{
    font-size: 1.5rem;
    color:var(--green);
}

.events .box-container .box .content .title{
    font-size: 2rem;
    color:#333;
    display: block;
    padding-top: 1rem;
}

.events .box-container .box .content .title:hover{
    text-decoration: underline;
}

.events .box-container .box .content p{
    padding:1rem 0;
    color:#999;
    font-size: 1.4rem;
}

.donate{
    min-height: auto;
    background:linear-gradient(rgba(0,0,50,.9),rgba(0,0,50,.9)), url(../images/donate-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.donate .box-container{
    flex:1 1 50rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.donate .box-container .box{
    border:.2rem solid #fff;
    border-radius: .5rem;
    text-align: center;
    width:20rem;
    margin:2rem;
    padding:2rem;
    background:rgba(255,255,255,.1);
}

.donate .box-container .box i{
    color:#fff;
    font-size: 4rem;
}

.donate .box-container .box h3{
    color:#EDFA8B;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.donate .box-container .box p{
    color:#eeee;
    font-size: 1.5rem;
    padding:.5rem 0;
}

.donate .donate-box{
    flex:1 1 50rem;
    background:rgba(255,255,255,.1);
    padding:2rem;
    margin:2rem;
    text-align: center;
}

.donate .donate-box h3{
    font-size: 3rem;
    color:#fff;
}

.donate .donate-box .amount{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.donate .donate-box .amount input{
    height:5rem;
    width:10rem;
    background:#fff;
    color:#666;
    cursor: pointer;
    margin:1rem;
    font-size: 2rem;
    text-align: center;
    border-radius: .5rem;
}

.donate .donate-box .amount input:hover,
.donate .donate-box .amount input.active{
    background:var(--green);
    color:#fff;
}
.form-container{
   
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-top: 10px;
}
.post{
    min-height: 100vh;
}

.post .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.post .box-container .box{
    width: 35rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    margin:2rem 1.5rem;
}

.post .box-container .box img{
    height: 23rem;
    width: 100%;
    object-fit: cover;
}

.post .box-container .box .content{
    padding:1rem;
}

.post .box-container .box .content span{
    font-size: 1.5rem;
    color:#666;
}

.post .box-container .box .content span i{
    padding:1rem 0;
    color:var(--green);
} 

.post .box-container .box .content h3{
    font-size: 2.4rem;
    color:#333;
}

.post .box-container .box .content:hover h3{
    text-decoration: underline;
    color:var(--green);
}

.post .box-container .box .content p{
    color:#666;
    font-size: 1.5rem;
}

.footer{
    background:#333;
}

.footer .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    margin:0 auto;
}

.footer .box-container .box{
    margin:2rem;
    flex:1 1 25rem;
}

.footer .box-container .box .logo{
    font-size: 3rem;
    color:var(--green);
}

.footer .box-container .box p{
    font-size: 1.7rem;
    color:#ccc;
    padding:1rem 0;
}

.footer .box-container .box .share{
    text-align: center;
    font-size: 3rem;
    color:#fff;
}

.footer .box-container .box:nth-child(2) a{
    text-align: center;
    font-size: 1.7rem;
    color:#eee;
    display: block;
    padding:.5rem 0;
}

.footer .box-container .box:nth-child(2) a:hover{
    text-decoration: underline;
}

.footer .box-container .box .letter{
    font-size: 3rem;
    color:#000;
}

.footer .box-container .box form input[type="email"]{
    padding:0 1rem;
    outline:none;
    border:.2rem solid var(--green);
    background:none;
    font-size: 1.7rem;
    color:#fff;
    height:4rem;
    width:74%;
}

.footer .box-container .box form button{
    outline:none;
    border:none;
    background:var(--green);
    font-size: 1.9rem;
    color:#fff;
    height:4rem;
    width:25%;
    cursor: pointer;
}

.footer .box-container .box form button:hover{
    color:var(--green);
    background:none;
    border:.1rem solid var(--green);
}

.footer .credit{
    text-align: center;
    color:#fff;
    font-size: 2rem;
    width:85%;
    margin:0 auto;
    padding:2rem 1rem;
    border-top: .1rem solid #ccc;
}

.footer .credit span{
    color:var(--green);
}



* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}


.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {		
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}



.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}




section.contact-us{
    padding-top:0;
    padding-bottom: 0;
}
section.contact-us .contact-info-wrapper {
    padding:4rem 0;
    flex:1;
}
section.contact-us .map{
    flex:1;
    filter:grayscale(100%);
    -webkit-filter:grayscale(100%);
}
section.contact-us .contact-info{
    display:flex;
    justify-content: center;
}
section.contact-us .contact-info > div > div {
    display:flex;
    align-items:center;
    margin-bottom:2rem;
}
section.contact-us .contact-info > div > div img{
    margin-right: 1rem;
}
section.contact-us .contact-info > div > div > div{
    display:flex;
    flex-direction: column;
}
section.contact-us .contact-info > div > div > div span:first-child{
    font-family: "Raleway-bold";
    margin-bottom:0.25rem;
}

/* media queries  */

@media (max-width:768px){

    html{
        font-size: 55%;
    }

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: fixed;
        top:-100rem; left:0;
        width: 100%;
        border-top: .1rem solid #ccc;
        opacity: 0;
    }

    header .navbar ul{
        flex-flow: column;
        padding:2rem 0;
        background-color: #fff;
    }

    header .navbar ul li{
        width: 100%;
        text-align: center;
        margin:1rem 0;
    }

    header .navbar ul li a{
        font-size: 3rem;
        display: block;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .nav-toggle{
        top:6rem; 
        opacity: 1;
    }

    .home .content h1{
        font-size: 5rem;
    }

    .home .content p{
        width: auto;
    }

    .service .box-container{
        width: auto;
    }

}

@media (max-width:500px){
    .donate .form-container form .inputBox input, select{
        width: 100%;
    }
    .donate .form-container form{
        width: 90%;
    }
}